################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MaxThreeNum/v17/.suo
/MaxThreeNum/obj/Debug
/MaxThreeNum/bin/Debug
